h1
{
text-align: center;
}

body{
    width: 750dp;
    margin: 0 auto;
}

.banner
{
    width: 750px;
    height: 200px;
    
}
#centro{
    margin: 0 auto;
}

#bot{
    width: 750px;
    height: 200px;
}