<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name ="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="/css/bootstrap.css">
    <link rel="stylesheet" href="/css/estilos.css">
</head>

<body>
</body>

<br/>
<img src="https://www.jpt-la.com/wp-content/uploads/2019/06/MODULACION-2-232x100.png" class="banner">
<header>
<div class="container">
    <nav class="navbar navbar-expand-lg navbar-light bg-light" style="width: 1300px">
    <a class="navbar-brand" href="/">INICIO</a>
    <ul class="navbar-nav mr-auto">
        <li class="nav-item"> <a class="nav-link" href="/humedad">HUMEDAD</a></li>
        <li class="nav-item"> <a class="nav-link" href="/nivel">NIVEL</a></li>
        <li class="nav-item"> <a class="nav-link" href="/temperatura">TEMPERATURA</a></li>
        <li class="nav-item"> <a class="nav-link" href="/indiceambiental">INDICE AMBIENTAL</a></li>
    </header>
    </ul>
    
</html>

